<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <a >
                <span class="navigation-pipe">&nbsp;</span>
                <span class="navigation_page">Shop by local market</span>
            </a>
            <a  [routerLink]="['/local_market',bcrumb.id, getSlug(bcrumb.name)]" *ngFor="let bcrumb of breadcrumb?.response">
                <span class="navigation-pipe">&nbsp;</span>
                <span class="navigation_page">{{bcrumb.name}}</span>
            </a>
        </div>
        
		<div class="row">
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block">Product types</p>
                    <div class="block_content">
                        <!-- layered -->
                        <!-- {{subcategories?.response | json}} -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul *ngFor="let subcat of subcategories?.response">    
                                    <li>{{ subcat.Category.name }}</li>
                                    <ul class="tree-menu">
                                        <li  *ngFor="let child of subcat?.childs"  class="active">
                                            <span></span><a routerLink="/category/{{child.Category.id}}">{{ child.Category.name }}</a>
                                            <ul *ngIf="child.childs?.length >0;">
                                                <li *ngFor="let subchild of child?.childs">
                                                    <span></span><a routerLink="/category/{{subchild.Category.id}}">{{ subchild.Category.name }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
            </div>
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
            	<div id="view-product-list" class="view-product-list">
                    <h2 class="page-heading">
                        <span class="page-heading-title">{{category?.Category?.name}}</span>
                    </h2>
                    <ul class="display-product-option">
                        <li class="view-as-grid">
                            <span>grid</span>
                        </li>
                        <li class="view-as-list selected">
                            <span>list</span>
                        </li>
                    </ul>
                    <ul class="row product-list list servicelist">
                        <li class="col-sx-12 col-sm-4" *ngFor="let market of catLocalMarket">
                            <div class="product-container" *ngIf="market?.Group?.id == 4; else company_prod;">
                                <div class="left-block">
                                    <a  [routerLink]="['/vendor',getSlug(category?.Category?.name) ,category?.Category?.id , market?.User?.id,getSlug(market?.VendorDetails?.business_name)]">
                                        <img class="img-responsive" alt="product" src="{{apiLink + market?.VendorDetails?.imgs.split(',')[0] }}" />
                                    </a>
                                    <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="View service details" class="search"  [routerLink]="['/vendor',getSlug(category?.Category?.name) ,category?.Category?.id , market?.User?.id,getSlug(market?.VendorDetails?.business_name)]"></a>
                                    </div>
                                   <!--  <div class="add-to-cart">
                                        <a title="Add to Cart" href="#add">Add to Cart</a>
                                         
                                    </div> -->

                                </div>
                                <div class="right-block">
                                    <h5 class="product-name"><a  [routerLink]="['/vendor',getSlug(category?.Category?.name) ,category?.Category?.id , market?.User?.id,getSlug(market?.VendorDetails?.business_name)]">{{market?.VendorDetails?.business_name}}</a></h5>
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="contact"><i class="fa fa-phone"></i>{{market?.VendorDetails?.contact_no}}</div>
                                    <!-- <div class="contact"><i class="fa fa-envelope"></i> {{company_address?.contact_email_id}}, {{company_address?.customercare_email_id}}</div> -->
                                    <div class="contact">
                                        <p><i class="fa fa-home"></i> {{market?.VendorDetails?.address1}}, {{market?.VendorDetails?.address2}} {{market?.VendorDetails?.city}} - {{market?.VendorDetails?.pincode}} , {{market?.VendorDetails?.state}}  {{market?.VendorDetails?.country}}. </p>
                                    </div>
                                </div>
                            </div>
                            <ng-template #company_prod>
                            <!-- {{ testResponse.other | json }} -->
                            <!-- {{ company_address | json }} -->
                                <div class="product-container">
                                <div class="left-block">
                                    <a [routerLink]="['/vendor',getSlug(category?.Category?.name) ,category?.Category?.id , market?.User?.id, getSlug(testResponse?.value)]">
                                        <img class="img-responsive" alt="product" src="{{ apiLink + testResponse?.other }}" />
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        <a title="View service details" class="search" [routerLink]="['/vendor',getSlug(category?.Category?.name) ,category?.Category?.id , market?.User?.id, getSlug(testResponse?.value)]"></a>
                                    </div>
                                </div>
                                <div class="right-block">
                                    <h5 class="product-name"><a  [routerLink]="['/vendor',getSlug(category?.Category?.name) ,category?.Category?.id , market?.User?.id, getSlug(testResponse?.value)]">{{ testResponse?.value }}</a></h5>
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="contact"><i class="fa fa-phone"></i> {{company_address?.customer_care_no}}</div>
                                    <div class="contact"><i class="fa fa-envelope"></i> {{company_address?.contact_email_id}}, {{company_address?.customercare_email_id}}</div>
                                    <div class="contact">
                                        <p><i class="fa fa-home"></i> {{company_address?.address1}}, {{company_address?.address2}}, {{company_address?.landmark}}. {{company_address?.city}}, {{company_address?.state}}, {{company_address?.country}} Pincode: {{company_address?.pincode}}</p>
                                    </div>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                    <!-- ./PRODUCT LIST -->
                </div>
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                          <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                    <div class="show-product-item">
                        <select name="">
                            <option value="">Show 18</option>
                            <option value="">Show 20</option>
                            <option value="">Show 50</option>
                            <option value="">Show 100</option>
                        </select>
                    </div>
                    <div class="sort-product">
                        <select>
                            <option value="">Product Name</option>
                            <option value="">Price</option>
                        </select>
                        <div class="sort-product-icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</div>