<div class="wrapper wrapper-content">
    <div class="container-fluid" >
        <div class="general_row">
            <div class="custom_tab_2 row">
                <div class="col-md-3">
                    <app-usersidebar></app-usersidebar>
                </div>                    
                <div class="col-md-9  animated fadeInRight">                       
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="row">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Change password</h5>
                                </div>
                                <div class="ibox-content">
                                    <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                                        <div class="row">
                                            <div class="col-md-3">Enter new password</div>
                                            <div class="col-md-6">
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                                    <div *ngIf="f.submitted && !password.valid && showerror" class="help-block">Password is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">Reenter new password</div>
                                            <div class="col-md-6">
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirm_password.valid }">
                                                    <input type="password" class="form-control" name="confirm_password" [(ngModel)]="model.confirm_password" #confirm_password="ngModel" required />
                                                    <div *ngIf="f.submitted && !confirm_password.valid && showerror" class="help-block">Confirm password is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <button  class="btn btn-primary pull-right">Submit <span class="ladda-spinner"></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end white-wrapper -->
