<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <a  [routerLink]="['/category',bcrumb?.id, getSlug(bcrumb?.name)]" *ngFor="let bcrumb of breadcrumb">
                <span class="navigation-pipe">&nbsp;</span>
                <span class="navigation_page">{{bcrumb?.name}}</span>
            </a>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <!-- Product -->
                    <div id="product">
                        <div class="primary-box row">
                            <div class="pb-left-column col-xs-12 col-sm-5">
                                <div class="product-image">
                                        <img  src="{{apiLink + products?.medium_imgs.split(',')[0] }}"/>
                                   <!--  <div class="product-full">
                                        <img id="product-zoom" src="{{apiLink + products?.medium_imgs.split(',')[0] }}"/>
                                    </div> -->
                                    <!--  [attr.data-zoom-image]="apiLink + products?.imgs.split(',')[0]" -->
                                   <!--  <div class="product-img-thumb" id="gallery_01">
                                        <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="21" data-loop="true">
                                            <li>
                                                <a href="#" data-image="assets/data/product-s3-420x512.jpg" data-zoom-image="assets/data/product-s3-850x1036.jpg">
                                                    <img id="product-zoom"  src="assets/data/product-s3-100x122.jpg" /> 
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-image="assets/data/product-s2-420x512.jpg" data-zoom-image="assets/data/product-s2-850x1036.jpg">
                                                    <img id="product-zoom"  src="assets/data/product-s2-100x122.jpg" /> 
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-image="assets/data/product-420x512.jpg" data-zoom-image="assets/data/product-850x1036.jpg">
                                                    <img id="product-zoom"  src="assets/data/product-100x122.jpg" /> 
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-image="assets/data/product-s4-420x512.jpg" data-zoom-image="assets/data/product-s4-850x1036.jpg">
                                                    <img id="product-zoom"  src="assets/data/product-s4-100x122.jpg" /> 
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-image="assets/data/product-s5-420x512.jpg" data-zoom-image="assets/data/product-s5-850x1036.jpg">
                                                    <img id="product-zoom"  src="assets/data/product-s5-100x122.jpg" /> 
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-image="assets/data/product-s6-420x512.jpg" data-zoom-image="assets/data/product-s6-850x1036.jpg">
                                                    <img id="product-zoom"  src="assets/data/product-s6-100x122.jpg" /> 
                                                </a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                           
                            </div>
                            <div class="pb-right-column col-xs-12 col-sm-7">
                                <h1 class="product-name">{{products?.title}}</h1>
                                <div class="product-comments">
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="comments-advices">
                                        <a href="#">Based  on 3 ratings</a>
                                        <a href="#"><i class="fa fa-pencil"></i> write a review</a>
                                    </div>
                                </div>
                                <div class="product-price-group" *ngIf="products?.discount > 0; else nodiscount">
                                    <span class="price"><i class="fa fa-inr"></i> {{ products?.price - (products?.price * (products?.discount / 100)) | number : '1.2-2' }}</span>
                                    <span class="old-price"><i class="fa fa-inr"></i> {{products?.price | number : '1.2-2' }}</span>
                                    <span class="discount">{{products?.discount}}% off</span>
                                </div>
                                <ng-template #nodiscount>
                                    <div class="product-price-group">
                                        <span class="price"><i class="fa fa-inr"></i> {{ products?.price - (products?.price * (products?.discount / 100)) | number : '1.2-2' }}</span>
                                    </div>
                                </ng-template>
                                <div class="info-orther">
                                    <p>Item Code: {{ products?.product_UID }}</p>
                                    <p>Availability: <span *ngIf="products?.product_count >0; else out_stock"  class="in-stock">In stock</span>
                                        <ng-template #out_stock>  
                                            <span  class="out-stock">Out of stock</span>
                                        </ng-template>
                                    </p>
                                    <p *ngIf="vendor_detail?.length >0">Seller: {{vendor_detail?.business_name}}</p>
                                </div>
                                
                                <!-- <div class="form-option">
                                    <p class="form-option-title">Available Options:</p>
                                    <div class="attributes">
                                        <div class="attribute-label">Color:</div>
                                        <div class="attribute-list">
                                            <ul class="list-color">
                                                <li style="background:#0c3b90;"><a href="#">red</a></li>
                                                <li style="background:#036c5d;" class="active"><a href="#">red</a></li>
                                                <li style="background:#5f2363;"><a href="#">red</a></li>
                                                <li style="background:#ffc000;"><a href="#">red</a></li>
                                                <li style="background:#36a93c;"><a href="#">red</a></li>
                                                <li style="background:#ff0000;"><a href="#">red</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="attributes">
                                        <div class="attribute-label">Qty:</div>
                                        <div class="attribute-list product-qty">
                                            <div class="qty">
                                                <input id="option-product-qty" type="text" value="1">
                                            </div>
                                            <div class="btn-plus">
                                                <a href="#" class="btn-plus-up">
                                                    <i class="fa fa-caret-up"></i>
                                                </a>
                                                <a href="#" class="btn-plus-down">
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="attributes">
                                        <div class="attribute-label">Size:</div>
                                        <div class="attribute-list">
                                            <select>
                                                <option value="1">X</option>
                                                <option value="2">XL</option>
                                                <option value="3">XXL</option>
                                            </select>
                                            <a id="size_chart" class="fancybox" href="assets/images/size-chart.jpg">Size Chart</a>
                                        </div>
                                        
                                    </div>
                                </div> -->
                                <div class="form-action">
                                    <div class="btn-shop">
                                        <form class="form-inline" role="form">
                                          <div class="form-group has-success has-feedback">
                                            <span (click) ="substractCount()"><i class="fa fa-minus"></i></span>
                                            <input type="text" class="form-control" [value]="countvalue">
                                            <span (click)="addCount()"><i class="fa fa-plus"></i></span>
                                          </div>
                                        </form>
                                    </div> 
                                    <div class="button-group">
                                        <a class="btn-add-cart"  (click)="addToCart()">Add to cart</a>
                                    </div>
                                    <div class="button-group">
                                        <a *ngIf="productinwishlist?.length == 0" class="wishlist" (click)="addToWishList();"><i class="fa fa-heart-o"></i>
                                        <br>Wishlist</a>
                                        <a *ngIf="productinwishlist?.length != 0" class="wishlist addedwishlist" (click)="addToWishList(productinwishlist?.Wishlist?.id);"><i class="fa fa-heart-o"></i>
                                        <br>Wishlist</a>
                                    </div>
                                </div>
                                <div class="form-share">
                                    <div class="sendtofriend-print">
                                        <a href="javascript:print();"><i class="fa fa-print"></i> Print</a>
                                        <a href="#"><i class="fa fa-envelope-o fa-fw"></i>Send to a friend</a>
                                    </div>
                                    <div class="network-share">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab product -->
                        <div class="product-tab">
                            <ul class="nav-tab">
                                <li class="active">
                                    <a aria-expanded="false" data-toggle="tab" href="#product-detail">Product Details</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#reviews">Review</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#extra-tabs">Write a review</a>
                                </li>
                            </ul>
                            <div class="tab-container">
                                <div id="product-detail" class="tab-panel active" innerHTML="{{ products?.description}}">
                                </div>
                                <div id="reviews" class="tab-panel">
                                    <div class="product-comments-block-tab">
                                        <div class="comment row">
                                            <div class="col-sm-3 author">
                                                <div class="grade">
                                                    <span>Grade</span>
                                                    <span class="reviewRating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="info-author">
                                                    <span><strong>Jame</strong></span>
                                                    <em>04/08/2015</em>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 commnet-dettail">
                                                Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar
                                            </div>
                                        </div>
                                        <div class="comment row">
                                            <div class="col-sm-3 author">
                                                <div class="grade">
                                                    <span>Grade</span>
                                                    <span class="reviewRating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                                <div class="info-author">
                                                    <span><strong>Author</strong></span>
                                                    <em>04/08/2015</em>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 commnet-dettail">
                                                Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar
                                            </div>
                                        </div>
                                        <p>
                                            <a class="btn-comment" href="#">Write your review !</a>
                                        </p>
                                    </div>
                                    
                                </div>
                                <div id="extra-tabs" class="tab-panel">
                                    <div class="big-title">
                                        <h3>Submit your review</h3>
                                    </div>
                                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                        <div class="form-group star-rating-tool">
                                            <star-rating-comp 
                                                    [starType]="'svg'" 
                                                    [size]="'large'"
                                                    [labelPosition]= "'left'"
                                                    [rating]="rating"
                                                    >
                                            </star-rating-comp>
                                                    <!-- formControlName="ratingInput" -->
                                                    <!-- [rating] = "'3'" -->
                                        </div>
                                        <!-- <pre>{{ form.value | json }}</pre> -->
                                        <input type="text" class="form-control" placeholder="Headline for your review">
                                        <br>
                                        <textarea class="form-control" placeholder="Your Comments" rows="7"></textarea>
                                        <br>
                                        <button class="pull-right btn btn-primary" type="submit">Send review</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
